{% extends 'reviews/base.html' %}
{% block content %}
<div class="flex">
  <div class="book-search-container">
    <h1>Search and Review 🔍</h1>
    <form
      method="get"
      action="{% url 'search_result' %}"
      class="book-search-form"
    >
      {% csrf_token %}
      <div class="field-wrapper">
        <label for="{{ form.search_book_by.id_for_label }}"
          >{{ form.search_book_by.label }}</label
        >
        {{ form.search_book_by }}
        {% for error in form.search_book_by.errors %}
        <p class="error-message">{{ error }}</p>
        {% endfor %}
      </div>
      <div class="field-wrapper">
        <label for="{{ form.search.id_for_label }}"
          >{{ form.search.label }}</label
        >
        {{ form.search }}
        {% for error in form.search.errors %}
        <p class="error-message">{{ error }}</p>
        {% endfor %}
      </div>
      <button type="submit" class="search-submit-btn">Search Books</button>
    </form>
  </div>
  <div class="search-results">
    {% if search_term %}
    <header class="search-header">
      <h1>Search results for "{{ search_term }}"📚</h1>
    </header>
    <div class="results-area">
      {% if books_results %}
      <h2>
        {% if books_results.count == 1 %}
        1 Book Found
        {% else %}
        {{ books_results.count }}
        Books Found
        {% endif %}
      </h2>
      <ul class="book-list">
        {% for book in books_results %}
        <li class="book-card">
          <div class="book-title-section">
            <h3 class="book-title">{{ book.title }}</h3>
          </div>
          <div class="book-details">
            <p class="detail-line">
              <span class="detail-label">ISBN:</span>
              {{ book.isbn }}
            </p>
            <p class="detail-line">
              <span class="detail-label">Publisher:</span>
              {{ book.publisher.name }}
            </p>
            <p class="detail-line">
              <span class="detail-label">Contributors:</span>
              {% for bc in book.book_contributors.all %}
              <span class="contributor-tag"
                >{{ bc.contributor.full_name }}</span
              >
              {% endfor %}
            </p>
          </div>
          <a href="{% url 'book_detail' book.pk %}" class="view-details-button"
            >View details</a
          >
        </li>
        {% endfor %}
      </ul>
      {% else %}
      <div class="no-results-message">
        <h2>0 Books Found</h2>
        <p>
          😔 Sorry, no books matched your search criteria **"{{ search_term }}"**.
        </p>
        <p>Try searching by a different criteria or check your spelling.</p>
      </div>
      {% endif %}
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
