<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>post review</title>
    <link href="css/style.css" rel="stylesheet" />
  </head>
  <body>
    <form method="POST" action="http://127.0.0.1:8000/books/4/reviews/">
          
      <p>
               
        <label for="id_review_text">Your Review</label>
        <br />
            <textarea
          id="id_review_text"
          name="review_text"
          placeholder="Enter your review"
        >
        </textarea>
            
      </p>
          
      <p>
        <label for="id_rating">Rating</label>
        <br />
          
        <input
          id="id_rating"
          type="number"
          name="rating"
          placeholder="Rating 1-5"
        />
           
      </p>
      <button type="submit">Create Review</button>
    </form>
  </body>
</html>
