{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Landing | home </title>
  <link href="{% static 'main.css' %}" rel="stylesheet">
  <link href="{% static 'landing/style.css' %}" rel="stylesheet">
</head>

<body>
  <a href=""><img src="{% static 'landing/logo.png' %}" alt=""></a>
  <p>
      This is landing page and styled and serving this template by setting from "templates" as folder in settings.py. Testing static file cachinf
  </p>
</body>

</html>
