{% extends 'blog/base.html' %}
{% block content %}
    <h1>Blog Posts</h1>
    <p>List of all published posts</p>
    <section class="flex">
        {% for post in posts %}
            <h2>
                {{ post }}
            <h2>
                    {#<a href="{% url 'blog:post_detail' id=post.id %}">details</a>#}
            <a href="{{ post.get_absolute_url }}">Read more...</a>
            <p>
              <a href="{% url "blog:post_share" post.id %}">share this post</a>

            </p>
        {% endfor %}
  </section>
{% include '../pagination.html' with page=page_obj %}
{% endblock %}
