
{% load static%}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>blog | home</title>
    <link href="{% static 'main.css' %}" rel="stylesheet" />
    <link href="{% static 'blog/style.css' %}" rel="stylesheet" />
  </head>

  <body>
    <p>List of published posts</p>
      {%for published_posts in posts%}
        <p>
      {{published_posts}}
<a href="{% url 'blog:post_detail' id=published_posts.id %}">details</a>
    </p>

      {%endfor%}
  </body>
</html>
