{% extends 'blog/base.html' %}
{% block content %}
    <h1 class="blog-post-heading-1 text-center">Blog Posts</h1>
    <h2 class="blog-post-heading-2 text-center">List of all published posts</h2>
    <section class="blog-posts">
        {% for post in posts %}
      <article class="post card">
        <div class="my-4">

            <h2> {{ post }} </h2>
            <p>{{post.body|truncatewords:5}}</p>

        </div>
            <a href="{{ post.get_absolute_url }}">Read more</a>
            <a href="{% url "blog:post_share" post.id %}">share this post</a>
      </article>
        {% endfor %}
  </section>
{% include '../pagination.html' with page=page_obj %}
    </p>
{% endblock %}
