{% extends "../base.html" %}
{% block page %}
    {{ title }}
{% endblock page %}
{% block content %}
    <section class="center-items">
      <h1>{{title}}</h1>
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">submit</button>
        </form>
      {% if sent %}
      <p>Message sent!</p>
      {%else %}

      <p></p>
      {% endif %}

    </section>
{% endblock content %}
