{% load static%}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>blog | home</title>
    <link href="{% static 'main.css' %}" rel="stylesheet" />
    <link href="{% static 'blog/style.css' %}" rel="stylesheet" />
  </head>

  <body>
    <a href=""><img src="{% static 'blog/logo.png' %}" alt="" /></a>
    <p>
      This is blog page and styled and serving this template by setting from
      "templates" as folder in settings.py. Testing static file cachinf
    </p>
  </body>
</html>
